:root {
    --line-border-fill: #3498db;
    --line-border-empty: #383838;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #1f1f1f;
}

.container {
    text-align: center;
}
.progressContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}
.progressContainer::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--line-border-empty);
    z-index: -1;
}
.progress {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 4px;
    background-color: var(--line-border-fill);
    z-index: -1;
    transition: 0.3s ease;
}
.circle {
    background-color: var(--line-border-empty);
    color: #e2e2e2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.3s ease;
}
.circle.active {
    border: 3px solid var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    padding: 8px 30px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
}
.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}