@font-face {
  font-family: "iconfont"; /* Project id 3873386 */
  src: url('//at.alicdn.com/t/c/font_3873386_3p10lu3oh7a.woff2?t=1675179406365') format('woff2'),
       url('//at.alicdn.com/t/c/font_3873386_3p10lu3oh7a.woff?t=1675179406365') format('woff'),
       url('//at.alicdn.com/t/c/font_3873386_3p10lu3oh7a.ttf?t=1675179406365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e8ef";
}

.icon-guanbi1:before {
  content: "\eb6a";
}

.icon-mulu:before {
  content: "\e62f";
}

.icon-xinfeng:before {
  content: "\e627";
}

.icon-zaixianxuanfang:before {
  content: "\e605";
}

.icon-guanbi:before {
  content: "\e606";
}

.icon-tianxuangouren:before {
  content: "\e607";
}
