* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container {
    display: flex;
    width: 90vw;
}
.container .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;
    height: 80vh;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    position: relative;
    transition: all 800ms ease-in 0s;
}
.panel h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
    
}
.container .active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease 0.4s;
}